<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Calculator</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="956de9">  <td>17/01/23 11:57:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CosTest.cosTest()[pri:0, instance:test.calc.CosTest@769c9116]">cosTest</td> 
  <td>pool-6-thread-1@1398854070</td>   <td>1989972246 </td> </tr>
<tr bgcolor="8f9dd6">  <td>17/01/23 11:57:40</td>   <td>-2138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.exceddLongBorderTest()[pri:0, instance:test.calc.SumTest@2db0f6b2]">exceddLongBorderTest</td> 
  <td>pool-1-thread-1@388357783</td>   <td>766572210 </td> </tr>
<tr bgcolor="9b8d87">  <td>17/01/23 11:57:42</td>   <td>-33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DivTest.firstDivSecondLong()[pri:0, instance:test.calc.DivTest@7bfcd12c]">firstDivSecondLong</td> 
  <td>pool-4-thread-1@1845129223</td>   <td>2080166188 </td> </tr>
<tr bgcolor="8e8568">  <td>17/01/23 11:57:42</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultTest.firstMultSecondLong()[pri:0, instance:test.calc.MultTest@33e5ccce]">firstMultSecondLong</td> 
  <td>pool-5-thread-1@1886834348</td>   <td>870698190 </td> </tr>
<tr bgcolor="8f9dd6">  <td>17/01/23 11:57:40</td>   <td>-2138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.firstPlusSecondLong()[pri:0, instance:test.calc.SumTest@2db0f6b2]">firstPlusSecondLong</td> 
  <td>pool-1-thread-2@1777826979</td>   <td>766572210 </td> </tr>
<tr bgcolor="708e87">  <td>17/01/23 11:57:42</td>   <td>-64</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubTest.firstPlusSecondLong()[pri:0, instance:test.calc.SubTest@5f5a92bb]">firstPlusSecondLong</td> 
  <td>pool-2-thread-2@2004547348</td>   <td>665576141 1599771323 1876631416 </td> </tr>
<tr bgcolor="708e87">  <td>17/01/23 11:57:42</td>   <td>-64</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubTest.firstPlusSecondLong()[pri:0, instance:test.calc.SubTest@27abe2cd]">firstPlusSecondLong</td> 
  <td>pool-2-thread-1@51667762</td>   <td>665576141 1599771323 1876631416 </td> </tr>
<tr bgcolor="708e87">  <td>17/01/23 11:57:42</td>   <td>-63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubTest.firstPlusSecondLong()[pri:0, instance:test.calc.SubTest@6fdb1f78]">firstPlusSecondLong</td> 
  <td>pool-2-thread-3@1622610223</td>   <td>665576141 1599771323 1876631416 </td> </tr>
<tr bgcolor="e87672">  <td>17/01/23 11:57:42</td>   <td>-49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IsPositiveTest.isPositiveValue()[pri:0, instance:test.calc.IsPositiveTest@4ca8195f]">isPositiveValue</td> 
  <td>pool-3-thread-1@810321220</td>   <td>1612799726 1286084959 1709537756 </td> </tr>
<tr bgcolor="e87672">  <td>17/01/23 11:57:42</td>   <td>-49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IsPositiveTest.isPositiveValue()[pri:0, instance:test.calc.IsPositiveTest@60215eee]">isPositiveValue</td> 
  <td>pool-3-thread-2@2087578080</td>   <td>1612799726 1286084959 1709537756 </td> </tr>
<tr bgcolor="e87672">  <td>17/01/23 11:57:42</td>   <td>-49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IsPositiveTest.isPositiveValue()[pri:0, instance:test.calc.IsPositiveTest@65e579dc]">isPositiveValue</td> 
  <td>pool-3-thread-3@1520080217</td>   <td>1612799726 1286084959 1709537756 </td> </tr>
<tr bgcolor="8e8568">  <td>17/01/23 11:57:42</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultTest.multExceddLongBorderTest()[pri:0, instance:test.calc.MultTest@33e5ccce]">multExceddLongBorderTest</td> 
  <td>pool-5-thread-2@720736173</td>   <td>870698190 </td> </tr>
<tr bgcolor="9b8d87">  <td>17/01/23 11:57:42</td>   <td>-33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DivTest.testDivOnZero()[pri:0, instance:test.calc.DivTest@7bfcd12c]">testDivOnZero</td> 
  <td>pool-4-thread-2@1542001925</td>   <td>2080166188 </td> </tr>
<tr bgcolor="9b8d87">  <td>17/01/23 11:57:42</td>   <td>-33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DivTest.zeroDivOnZero()[pri:0, instance:test.calc.DivTest@7bfcd12c]">zeroDivOnZero</td> 
  <td>pool-4-thread-3@1839319194</td>   <td>2080166188 </td> </tr>
</table>
